torch>=2.0.0
torchvision>=0.15.0
numpy
scipy
scikit-image
scikit-learn
opencv-python
opencv-contrib-python
face-alignment
imageio
imageio-ffmpeg
pyyaml
tqdm
yacs
joblib
gfpgan
av
safetensors
gradio
transformers
einops
mediapy
pillow
huggingface_hub
ollama
dlib